node-red/flow/cold-chain-dashboard-flow.json
[{"id":"f01d5c9b.3d2d38","type":"tab","label":"Sensors"},{"id":"73439acb.e97ffc","type":"tab","label":"Control"},{"id":"efac5721.dbea88","type":"tab","label":"Actions"},{"id":"544ce90f.20bd2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#087479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#087479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0db9c1","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#087479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"TE LightFair Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":1,"cy":1,"px":0,"py":0}}},{"id":"c56ad8b4.c8b408","type":"ui_group","z":"","name":"Light","tab":"dfa8e1b7.ff73a","order":1,"disp":false,"width":"6"},{"id":"dfa8e1b7.ff73a","type":"ui_tab","z":"","name":"TE Light Control","icon":"fa-gamepad","order":2},{"id":"c747ec16.d38cf8","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"dd1dac02.49ad38","type":"websocket-listener","z":"","path":"wss://api-a01.arrowconnect.io:443","wholemsg":"false"},{"id":"4dcc9e9c.3f803","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":true},{"id":"70ee8070.320898","type":"websocket-client","z":"","path":"wss://api-a01.arrowconnect.io:443/api/v1/kronos/devices/a843f9d229c89d37a693111fb4e7648e85f3fa81/telemetry/*","wholemsg":"true"},{"id":"f295ca52.824cd8","type":"ui_tab","z":"","name":"TE MultiSensor","icon":"fa-thermometer-half","order":1},{"id":"9cfd82d9.c64b","type":"ui_group","z":"","name":"Temperature","tab":"f295ca52.824cd8","order":1,"disp":false,"width":"6"},{"id":"2ca105f1.5a121a","type":"ui_group","z":"","name":"Humidity","tab":"f295ca52.824cd8","order":2,"disp":false,"width":"6"},{"id":"fe4c037f.8126f8","type":"ui_group","z":"","name":"Light","tab":"f295ca52.824cd8","order":3,"disp":false,"width":"6"},{"id":"d7f5e2f7.bbf768","type":"ui_group","z":"","name":"Device Select","tab":"","order":4,"disp":true,"width":"6"},{"id":"bd3fd496.3c42b8","type":"ui_group","z":"","name":"Gateway Info","tab":"","disp":true,"width":"6"},{"id":"f77bcd93.72319","type":"ui_group","z":"","name":"Voltage","tab":"dfa8e1b7.ff73a","order":3,"disp":false,"width":"6"},{"id":"98413ffe.3f8d9","type":"ui_group","z":"","name":"Current","tab":"66027e2e.eb8fc","order":2,"disp":false,"width":"6"},{"id":"faabe372.20c61","type":"ui_tab","z":"","name":"System","icon":"dashboard","order":4},{"id":"43dee573.dbb94c","type":"ui_group","z":"","name":"Control","tab":"faabe372.20c61","disp":true,"width":"6"},{"id":"66027e2e.eb8fc","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":3},{"id":"e134e347.e52e78","type":"ui_group","z":"","name":"Voltage","tab":"66027e2e.eb8fc","disp":false,"width":"6"},{"id":"35397695.040af2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#10cfd8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"SenseAbility 2.0 Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":1,"cy":1,"px":0,"py":0}}},{"id":"6b23c547.2f1684","type":"ui_group","z":"","name":"LED","tab":"ce63146b.ed0e8","disp":true,"width":"6"},{"id":"ce63146b.ed0e8","type":"ui_tab","z":"","name":"Control","icon":"fa-gamepad","order":2},{"id":"fdf78cc5.e8b968","type":"ui_group","z":"","name":"Enable/Disable","tab":"ce63146b.ed0e8","disp":true,"width":"6"},{"id":"f571c7fa.f17338","type":"websocket-listener","z":"","path":"","wholemsg":"false"},{"id":"a156bece.4e8cf8","type":"websocket-listener","z":"","path":"wss://api-a01.arrowconnect.io:443","wholemsg":"false"},{"id":"a9e93c7e.7823e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":true},{"id":"4f9b3a42.00a8f4","type":"websocket-client","z":"","path":"wss://api-a01.arrowconnect.io:443/api/v1/kronos/devices/a843f9d229c89d37a693111fb4e7648e85f3fa81/telemetry/*","wholemsg":"true"},{"id":"64681274.7f6a1c","type":"ui_tab","z":"","name":"Sensors","icon":"fa-thermometer-half","order":1},{"id":"f8be8829.2abec","type":"ui_group","z":"","name":"Airflow","tab":"64681274.7f6a1c","order":4,"disp":false,"width":"6"},{"id":"4a9ffb1d.91ea7c","type":"ui_group","z":"","name":"Temperature","tab":"64681274.7f6a1c","order":1,"disp":false,"width":"6"},{"id":"9e7d1e2e.8d7668","type":"ui_group","z":"","name":"Humidity","tab":"64681274.7f6a1c","order":2,"disp":false,"width":"6"},{"id":"d1b65fac.f351e8","type":"ui_group","z":"","name":"Pressure","tab":"64681274.7f6a1c","order":3,"disp":false,"width":"6"},{"id":"403b791c.6123e8","type":"ui_group","z":"","name":"Device Select","tab":"1bd0d2bc.05871d","order":4,"disp":true,"width":"6"},{"id":"1bd0d2bc.05871d","type":"ui_tab","z":"","name":"Settings","icon":"fa-cog","order":3},{"id":"5a11333f.30b224","type":"ui_group","z":"","name":"Gateway Info","tab":"1bd0d2bc.05871d","disp":true,"width":"6"},{"id":"b1a07aa6.7fd4d","type":"ui_tab","z":"","name":"Actions","icon":"fa-list"},{"id":"f9ece306.c9edb8","type":"ui_group","z":"","name":"Rules","tab":"b1a07aa6.7fd4d","disp":true,"width":"9"},{"id":"a77c2fa2.cb1d8","type":"ui_group","z":"","name":"Help","tab":"b1a07aa6.7fd4d","disp":true,"width":"9"},{"id":"6fb9bd4c.607904","type":"ui_group","z":"","name":"Fan","tab":"ce63146b.ed0e8","disp":true,"width":"6"},{"id":"22fce6e2.e1ab62","type":"inject","z":"f01d5c9b.3d2d38","name":"","topic":"update","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"x":90,"y":200,"wires":[["4ec58c94.04cd74"]]},{"id":"a2d20890.66d69","type":"http request","z":"f01d5c9b.3d2d38","name":"","method":"use","ret":"txt","url":"","tls":"","x":110,"y":280,"wires":[["61fea82d.6cb79"]]},{"id":"4ec58c94.04cd74","type":"function","z":"f01d5c9b.3d2d38","name":"Generate Telemetry Update","func":"var deviceHID = global.get(\"g_SenseAbilityHID\");\nvar apiKey = global.get(\"g_API_Key\");\n    \nif (msg.topic == 'update') {\n    msg.url = \"https://api.arrowconnect.io/api/v1/kronos/telemetries/devices/\" +\n               deviceHID + \"/latest\"\n    msg.method = \"GET\";\n    msg.headers = {\n      \"Accept\": \"application/json\",\n      \"x-auth-token\": apiKey\n    };\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":140,"y":240,"wires":[["a2d20890.66d69"]]},{"id":"e511aaa0.04da6","type":"function","z":"f01d5c9b.3d2d38","name":"getAirflow","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"airflow\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(5);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["2ece7d86.7dd53a","b4a8b64c.a0916","de89f35c.1e18f"]]},{"id":"61fea82d.6cb79","type":"json","z":"f01d5c9b.3d2d38","name":"","x":110,"y":320,"wires":[["e511aaa0.04da6","e511c0a7.377308","cc3ba30e.a38d3","d8bec219.3f995"]]},{"id":"2ece7d86.7dd53a","type":"ui_gauge","z":"f01d5c9b.3d2d38","name":"AirflowGauge","group":"f8be8829.2abec","order":1,"width":"6","height":"6","gtype":"gage","title":"Airflow","label":"%","format":"{{value}}","min":"-125","max":"125","colors":["#ca3842","#ffffff","#00b500"],"seg1":"-10","seg2":"10","x":540,"y":460,"wires":[]},{"id":"e511c0a7.377308","type":"function","z":"f01d5c9b.3d2d38","name":"getPressure","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"pressure\") {\n        var pressure = value.floatValue;\n        msg.payload = parseFloat(pressure).toFixed(5);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["fb8026d0.b35dc8","c1a432e3.88f158","444c4593.fdee0c"]]},{"id":"fb8026d0.b35dc8","type":"ui_gauge","z":"f01d5c9b.3d2d38","name":"PressureGauge","group":"d1b65fac.f351e8","order":1,"width":"6","height":"6","gtype":"gage","title":"Pressure","label":"PSI","format":"{{value}}","min":0,"max":"1","colors":["#49c43c","#ece266","#ca3838"],"seg1":".2","seg2":".8","x":540,"y":340,"wires":[]},{"id":"cc3ba30e.a38d3","type":"function","z":"f01d5c9b.3d2d38","name":"getTemperature","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"temperature\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(5);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["39a6ce14.819482","68600565.c2216c","5052722d.010ddc"]]},{"id":"39a6ce14.819482","type":"ui_gauge","z":"f01d5c9b.3d2d38","name":"TemperatureGauge","group":"4a9ffb1d.91ea7c","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°F","format":"{{value}}","min":0,"max":"100","colors":["#0080ff","#00b500","#ca3838"],"seg1":"60","seg2":"85","x":550,"y":220,"wires":[]},{"id":"d8bec219.3f995","type":"function","z":"f01d5c9b.3d2d38","name":"getHumidity","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.name == \"humidity\") {\n        msg.payload = parseFloat(value.floatValue).toFixed(5);\n        msg.time = new Date(value.timestamp).toLocaleString();\n        msg.lapsed = ((Date.now() - value.timestamp) / 1000.0).toFixed(1);\n        if (msg.lapsed < 0) msg.lapsed = 0;\n        if (msg.lapsed < 60) {\n            msg.lapsedUnit = \"seconds\";\n        } else if (msg.lapsed < 3600) {\n            msg.lapsed /= 60;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"minutes\";\n        } else {\n            msg.lapsed /= 3600;\n            msg.lapsed = msg.lapsed.toFixed(1);\n            msg.lapsedUnit = \"hours\";\n        }\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["880db2fd.ece2","565b49b3.1279b8","80c003d6.b39088"]]},{"id":"880db2fd.ece2","type":"ui_gauge","z":"f01d5c9b.3d2d38","name":"HumidityGauge","group":"9e7d1e2e.8d7668","order":1,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#9f6062","#0080ff","#852efc"],"seg1":"25","seg2":"50","x":540,"y":100,"wires":[]},{"id":"b4a8b64c.a0916","type":"ui_template","z":"f01d5c9b.3d2d38","group":"f8be8829.2abec","name":"airflowTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":530,"y":500,"wires":[[]]},{"id":"c1a432e3.88f158","type":"ui_template","z":"f01d5c9b.3d2d38","group":"d1b65fac.f351e8","name":"pressureTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":540,"y":380,"wires":[[]]},{"id":"68600565.c2216c","type":"ui_template","z":"f01d5c9b.3d2d38","group":"4a9ffb1d.91ea7c","name":"temperatureTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":550,"y":260,"wires":[[]]},{"id":"565b49b3.1279b8","type":"ui_template","z":"f01d5c9b.3d2d38","group":"9e7d1e2e.8d7668","name":"humidityTime","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center; font-weight:bold\">\n    <p>{{msg.time}}</p>\n</div>\n<div style=\"text-align:center;\">\n    <p>{{msg.lapsed}} {{msg.lapsedUnit}} since last update</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":525,"y":140,"wires":[[]]},{"id":"80c003d6.b39088","type":"ui_chart","z":"f01d5c9b.3d2d38","name":"HumidityChart","group":"9e7d1e2e.8d7668","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"colors":["#80ff80","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":540,"y":60,"wires":[[],[]]},{"id":"5052722d.010ddc","type":"ui_chart","z":"f01d5c9b.3d2d38","name":"TemperatureChart","group":"4a9ffb1d.91ea7c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":550,"y":180,"wires":[[],[]]},{"id":"444c4593.fdee0c","type":"ui_chart","z":"f01d5c9b.3d2d38","name":"PressureChart","group":"d1b65fac.f351e8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":540,"y":300,"wires":[[],[]]},{"id":"de89f35c.1e18f","type":"ui_chart","z":"f01d5c9b.3d2d38","name":"AirflowChart","group":"f8be8829.2abec","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-125","ymax":"125","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"colors":["#ff80c0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530,"y":420,"wires":[[],[]]},{"id":"238d0368.01af54","type":"function","z":"f01d5c9b.3d2d38","name":"SetGlobals","func":"global.set(\"g_SenseAbilityHID\",\"85d85e2008c4262e876f3b975a0fbd07ec0ee6e3\");\nglobal.set(\"g_API_Key\", \"7d8bc81052d00a1fce71fe5140ca0681a63338dd61b563696f54f9d973e11f6a\");\nglobal.set(\"g_GatewayHID\", \"f1a57cfa812117feab7d26e28d6204931c1f24b6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":20,"wires":[[]]},{"id":"17600136.e9619f","type":"inject","z":"f01d5c9b.3d2d38","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":80,"y":20,"wires":[["238d0368.01af54"]]},{"id":"97a2b351.448538","type":"ui_dropdown","z":"efac5721.dbea88","name":"SelectTelemetry","label":"","group":"f9ece306.c9edb8","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":970,"y":160,"wires":[["1a8dd41d.037c54"]]},{"id":"fad14a42.cdf0e","type":"http request","z":"efac5721.dbea88","name":"","method":"use","ret":"txt","url":"","tls":"","x":470,"y":160,"wires":[["fe713cb.92880c"]]},{"id":"d6c07dc.10362","type":"function","z":"efac5721.dbea88","name":"telemetryLatest","func":"var deviceHID = global.get(\"g_SenseAbilityHID\");\nvar apiKey = global.get(\"g_API_Key\");\n    \nif (msg.topic == 'update') {\n    msg.url = \"https://api.arrowconnect.io/api/v1/kronos/telemetries/devices/\" +\n               deviceHID + \"/latest\"\n    msg.method = \"GET\";\n    msg.headers = {\n      \"Accept\": \"application/json\",\n      \"x-auth-token\": apiKey\n    };\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["fad14a42.cdf0e"]]},{"id":"fe713cb.92880c","type":"json","z":"efac5721.dbea88","name":"","x":610,"y":160,"wires":[["fac90411.d463d"]]},{"id":"3219bc8c.df52fc","type":"inject","z":"efac5721.dbea88","name":"","topic":"update","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":120,"y":160,"wires":[["d6c07dc.10362"]]},{"id":"fac90411.d463d","type":"function","z":"efac5721.dbea88","name":"parseTelemetries","func":"var telemetries = [];\nmsg.payload.data.forEach(function (value, index, array) {\n    telemetries[index] = value.name;\n});\n\nmsg.payload = telemetries[0];\nmsg.options = telemetries;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["97a2b351.448538"]]},{"id":"93110299.896b68","type":"ui_dropdown","z":"efac5721.dbea88","name":"Conditional","label":"","group":"f9ece306.c9edb8","order":2,"width":"1","height":"1","passthru":true,"options":[{"label":"==","value":"==","type":"str"},{"label":">=","value":">=","type":"str"},{"label":">","value":">","type":"str"},{"label":"<=","value":"<=","type":"str"},{"label":"<","value":"<","type":"str"}],"payload":"","topic":"","x":990,"y":200,"wires":[["879df531.01f13"]]},{"id":"930450fe.3b4fd","type":"ui_text_input","z":"efac5721.dbea88","name":"Threshold","label":"","group":"f9ece306.c9edb8","order":3,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1000,"y":240,"wires":[["c3386d3.0c7791"]]},{"id":"d4ba6aee.b5e7b","type":"ui_dropdown","z":"efac5721.dbea88","name":"SelectAction","label":"","group":"f9ece306.c9edb8","order":4,"width":"9","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":890,"y":40,"wires":[["41eab49a.2a51f4","91b98435.b1e5"]]},{"id":"c4bdecc0.aebf28","type":"http request","z":"efac5721.dbea88","name":"","method":"use","ret":"txt","url":"","tls":"","x":450,"y":40,"wires":[["553e50ba.198b98"]]},{"id":"7969bf26.b1f548","type":"function","z":"efac5721.dbea88","name":"getActionTypes","func":"var apiKey = global.get(\"g_API_Key\");\n    \nif (msg.topic == 'update') {\n    msg.url = \"https://api.arrowconnect.io/api/v1/kronos/devices/actions/types\";\n    msg.method = \"GET\";\n    msg.headers = {\n      \"Accept\": \"application/json\",\n      \"x-auth-token\": apiKey\n    };\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["c4bdecc0.aebf28"]]},{"id":"553e50ba.198b98","type":"json","z":"efac5721.dbea88","name":"","x":590,"y":40,"wires":[["d6c25e2d.ce362"]]},{"id":"8e8d431a.4cc408","type":"inject","z":"efac5721.dbea88","name":"","topic":"update","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":100,"y":40,"wires":[["7969bf26.b1f548"]]},{"id":"d6c25e2d.ce362","type":"function","z":"efac5721.dbea88","name":"listActions","func":"var actions = [];\nmsg.payload.data.forEach(function (value, index, array) {\n    actions[index] = value.systemName;\n});\n\nmsg.helpInfo = msg.payload;\nmsg.payload = actions[0];\nmsg.options = actions;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":40,"wires":[["d4ba6aee.b5e7b"]]},{"id":"d9196077.752d3","type":"ui_text_input","z":"efac5721.dbea88","name":"Parameters","label":"Parameters","group":"f9ece306.c9edb8","order":5,"width":"9","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":870,"y":280,"wires":[["7adf9148.37cd5"]]},{"id":"1b41bd74.c53af3","type":"ui_template","z":"efac5721.dbea88","group":"a77c2fa2.cb1d8","name":"ActionHelp","order":0,"width":"6","height":"6","format":"<h3>{{msg.selectedAction}}</h3>\n<h4>Description</h4>\n<p>{{msg.actionDescription}}</p>\n<h4>Parameters</h4>\n<p>{{msg.actionParameters}}</p>","storeOutMessages":true,"fwdInMessages":true,"x":1690,"y":40,"wires":[[]]},{"id":"fee66c2e.266298","type":"ui_button","z":"efac5721.dbea88","name":"","group":"f9ece306.c9edb8","order":7,"width":0,"height":0,"label":"Set Action","color":"","bgcolor":"","icon":"","payload":"{\"enabled\": true}","payloadType":"json","topic":"","x":250,"y":440,"wires":[["e9cf32cc.465fc"]]},{"id":"28d2a804.142ca8","type":"http request","z":"efac5721.dbea88","name":"","method":"use","ret":"txt","url":"","tls":"","x":1230,"y":40,"wires":[["167f7584.eef99a"]]},{"id":"41eab49a.2a51f4","type":"function","z":"efac5721.dbea88","name":"getActionTypes","func":"var apiKey = global.get(\"g_API_Key\");\nmsg.selectedAction = msg.payload;\n    \nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/devices/actions/types\";\nmsg.method = \"GET\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":40,"wires":[["28d2a804.142ca8"]]},{"id":"167f7584.eef99a","type":"json","z":"efac5721.dbea88","name":"","x":1370,"y":40,"wires":[["6b0544b2.58b10c"]]},{"id":"6b0544b2.58b10c","type":"function","z":"efac5721.dbea88","name":"parseActions","func":"msg.payload.data.forEach(function (value, index, array) {\n    if (value.systemName == msg.selectedAction) {\n        msg.actionDescription = value.description;\n        msg.actionParameters = value.parameters;\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":40,"wires":[["1b41bd74.c53af3"]]},{"id":"1a8dd41d.037c54","type":"function","z":"efac5721.dbea88","name":"setTelemetry","func":"msg.actionTelemetry = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["d8f84871.2a5d4"]]},{"id":"91b98435.b1e5","type":"function","z":"efac5721.dbea88","name":"setSystemName","func":"msg.actionSystemName = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["d8f84871.2a5d4"]]},{"id":"879df531.01f13","type":"function","z":"efac5721.dbea88","name":"setConditional","func":"msg.actionConditional = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":200,"wires":[["d8f84871.2a5d4"]]},{"id":"c3386d3.0c7791","type":"function","z":"efac5721.dbea88","name":"setThreshold","func":"msg.actionThreshold = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":240,"wires":[["d8f84871.2a5d4"]]},{"id":"e16e16f.0b91568","type":"function","z":"efac5721.dbea88","name":"setParameters","func":"msg.actionParameters = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":280,"wires":[["d8f84871.2a5d4"]]},{"id":"d8f84871.2a5d4","type":"function","z":"efac5721.dbea88","name":"","func":"if (msg.actionSystemName !== undefined) {\n    global.set(\"g_actionSystemName\", msg.actionSystemName);\n}\n\nif (msg.actionTelemetry !== undefined) {\n    global.set(\"g_actionTelemetry\", msg.actionTelemetry);\n}\n\nif (msg.actionConditional !== undefined) {\n    global.set(\"g_actionConditional\", msg.actionConditional);\n}\n\nif (msg.actionThreshold !== undefined) {\n    global.set(\"g_actionThreshold\", msg.actionThreshold);\n}\n\nif (msg.actionParameters !== undefined) {\n    global.set(\"g_actionParameters\", msg.actionParameters);\n}\n\nif (msg.actionExpiration !== undefined) {\n    global.set(\"g_actionExpiration\", msg.actionExpiration);\n}\n\nif (msg.actionDescription !== undefined) {\n    global.set(\"g_actionDescription\", msg.actionDescription);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":200,"wires":[[]]},{"id":"620526c3.e5037","type":"inject","z":"efac5721.dbea88","name":"","topic":"","payload":"==","payloadType":"str","repeat":"","crontab":"","once":true,"x":830,"y":200,"wires":[["93110299.896b68"]]},{"id":"91d665a7.28ecb","type":"inject","z":"efac5721.dbea88","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":870,"y":240,"wires":[["930450fe.3b4fd"]]},{"id":"10fc756a.278ab3","type":"inject","z":"efac5721.dbea88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":730,"y":280,"wires":[["d9196077.752d3"]]},{"id":"e9cf32cc.465fc","type":"function","z":"efac5721.dbea88","name":"","func":"var systemName = global.get(\"g_actionSystemName\");\nvar criteriaTelem = global.get(\"g_actionTelemetry\");\nvar criteriaConditional = global.get(\"g_actionConditional\");\nvar criteriaThreshold = global.get(\"g_actionThreshold\");\nvar parameters = global.get(\"g_actionParameters\");\nvar expiration = global.get(\"g_actionExpiration\");\nvar actionDescription = global.get(\"g_actionDescription\");\n\nvar criteria = criteriaTelem + criteriaConditional + criteriaThreshold;\n\nmsg.payload.systemName = systemName;\nmsg.payload.description = actionDescription;\nmsg.payload.criteria = criteria;\nmsg.payload.expiration = expiration;\nmsg.payload.enabled = true;\nmsg.payload.parameters = parameters;\nconsole.log(parameters);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["6d3b7bd4.dee554"]]},{"id":"8f92da80.bb4798","type":"ui_text_input","z":"efac5721.dbea88","name":"Expiration","label":"Expiration","group":"f9ece306.c9edb8","order":6,"width":"9","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":990,"y":320,"wires":[["1f50a274.6b6926"]]},{"id":"1f50a274.6b6926","type":"function","z":"efac5721.dbea88","name":"setExpiration","func":"msg.actionExpiration = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":320,"wires":[["d8f84871.2a5d4"]]},{"id":"d080fab6.91b5f8","type":"inject","z":"efac5721.dbea88","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":true,"x":850,"y":320,"wires":[["8f92da80.bb4798"]]},{"id":"5709d1d0.864d","type":"ui_text_input","z":"efac5721.dbea88","name":"Description","label":"Description","group":"f9ece306.c9edb8","order":5,"width":"9","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":990,"y":360,"wires":[["3e44419d.82566e"]]},{"id":"3e44419d.82566e","type":"function","z":"efac5721.dbea88","name":"setDescription","func":"msg.actionDescription = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":360,"wires":[["d8f84871.2a5d4"]]},{"id":"7e4deb93.748e3c","type":"inject","z":"efac5721.dbea88","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":850,"y":360,"wires":[["5709d1d0.864d"]]},{"id":"6d3b7bd4.dee554","type":"json","z":"efac5721.dbea88","name":"","x":530,"y":440,"wires":[["ddef2130.b124c8"]]},{"id":"461a4ea8.a13f38","type":"http request","z":"efac5721.dbea88","name":"","method":"use","ret":"txt","url":"","tls":"","x":810,"y":440,"wires":[["ebb684.5ba6c98"]]},{"id":"ddef2130.b124c8","type":"function","z":"efac5721.dbea88","name":"setAction","func":"var deviceHID = global.get(\"g_SenseAbilityHID\");\nvar apiKey = global.get(\"g_API_Key\");\n\nvar body = msg.payload;\nbody = body.replace(/\\\\\"/g, '\"'); // Remove \\ before \"\n//body = body.replace(/\"/g, '\\\\\"');\nmsg.payload = body;\n//msg.payload = \"{\\\"enabled\\\":true,\\\"systemName\\\":\\\"SendEmail\\\",\\\"description\\\":\\\"email 80\\\",\\\"criteria\\\":\\\"temperature==80\\\",\\\"expiration\\\":60,\\\"parameters\\\":{\\\"Email\\\":\\\"me@here.com\\\"}}\";\nconsole.log(msg.payload);\nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/devices/\" +\n           deviceHID + \"/actions\"\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["461a4ea8.a13f38","ebb684.5ba6c98"]]},{"id":"ebb684.5ba6c98","type":"debug","z":"efac5721.dbea88","name":"","active":true,"console":"false","complete":"true","x":1030,"y":520,"wires":[]},{"id":"7adf9148.37cd5","type":"json","z":"efac5721.dbea88","name":"","x":1010,"y":280,"wires":[["e16e16f.0b91568"]]},{"id":"6d01fa45.5cabcc","type":"function","z":"73439acb.e97ffc","name":"Command - LED","func":"var gatewayHID = global.get(\"g_GatewayHID\");\nvar deviceHID = global.get(\"g_SenseAbilityHID\");\nvar apiKey = global.get(\"g_API_Key\");\n\nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/gateways/\" +\n           gatewayHID + \"/devices/\" + deviceHID +\"/actions/command\"\naction = msg.payload;\nmsg.payload = {\n        \"command\": \"led\",\n        \"deviceHid\": deviceHID,\n        \"payload\": \"{\\\"value\\\": \\\"\" + action + \"\\\"}\"\n};\n\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["4534e11c.d13fc"]]},{"id":"70330b2c.f01744","type":"ui_button","z":"73439acb.e97ffc","name":"OnLED","group":"6b23c547.2f1684","order":0,"width":0,"height":0,"passthru":false,"label":"On","color":"","bgcolor":"#408040","icon":"fa-sun-o","payload":"1","payloadType":"num","topic":"","x":80,"y":40,"wires":[["6d01fa45.5cabcc"]]},{"id":"2301abf5.126f5c","type":"ui_button","z":"73439acb.e97ffc","name":"OffLED","group":"6b23c547.2f1684","order":0,"width":0,"height":0,"passthru":false,"label":"Off","color":"","bgcolor":"#804040","icon":"fa-moon-o","payload":"0","payloadType":"num","topic":"","x":80,"y":80,"wires":[["6d01fa45.5cabcc"]]},{"id":"5e36b946.629618","type":"function","z":"73439acb.e97ffc","name":"Command - Fan","func":"var gatewayHID = global.get(\"g_GatewayHID\");\nvar deviceHID = global.get(\"g_SenseAbilityHID\");\nvar apiKey = global.get(\"g_API_Key\");\n\nmsg.url = \"https://api.arrowconnect.io/api/v1/kronos/gateways/\" +\n           gatewayHID + \"/devices/\" + deviceHID +\"/actions/command\"\naction = msg.payload;\nmsg.payload = {\n        \"command\": \"fan\",\n        \"deviceHid\": deviceHID,\n        \"payload\": \"{\\\"value\\\": \\\"\" + action + \"\\\"}\"\n};\n\nmsg.method = \"POST\";\nmsg.headers = {\n  \"Accept\": \"application/json\",\n  \"x-auth-token\": apiKey\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["4534e11c.d13fc"]]},{"id":"4534e11c.d13fc","type":"http request","z":"73439acb.e97ffc","name":"Arrow Command - Toggle","method":"use","ret":"txt","url":"","tls":"a9e93c7e.7823e","x":470,"y":100,"wires":[[]]},{"id":"ca2f31fc.76cec8","type":"ui_button","z":"73439acb.e97ffc","name":"OnFan","group":"6fb9bd4c.607904","order":0,"width":0,"height":0,"passthru":false,"label":"On","color":"","bgcolor":"#408040","icon":"fa-sun-o","payload":"1","payloadType":"num","topic":"","x":80,"y":120,"wires":[["5e36b946.629618"]]},{"id":"1655211c.3b107f","type":"ui_button","z":"73439acb.e97ffc","name":"OffFan","group":"6fb9bd4c.607904","order":0,"width":0,"height":0,"passthru":false,"label":"Off","color":"","bgcolor":"#804040","icon":"fa-moon-o","payload":"0","payloadType":"num","topic":"","x":80,"y":160,"wires":[["5e36b946.629618"]]}]